<div class="card mt-3" style="width: 18rem;">
    <img [src]='miniatura' class="card-img-top" alt="..." >
    <div class="card-body d-flex justify-content-between border-top">
      <div>
        <h5 class="card-title">{{descripcion}}</h5>
        <p class="font-weight-light">Precio: <b class="card-text">{{precio}}</b></p>
        <p class="font-weight-light">Disponibles: <b class="card-text">{{cantidadDisponible}}</b></p>
    </div>
    <button class="btn btn-primary rounded-circle" [disabled]="disabled" (click)="addCar()"><i class="fas fa-shopping-cart"></i></button>
  </div>
</div>
