<div class="row">
  <h3>Celulares</h3>
  <div *ngFor="let producto of productos">
    <div *ngIf="producto.categoria=='celulares'" class="col-sm-12 col-md-6 col-lg-3">
      <app-card [img]="producto.miniatura" [descripcion]="producto.descripcion" [precio]="producto.precio"
        [cantidadDisponible]="producto.cantidadDisponible"> </app-card>
    </div>
  </div>
</div>
<div class="row">
  <h3>Televisores</h3>
  <div *ngFor="let producto of productos">
    <div *ngIf="producto.categoria=='televisores'" class="col-sm-12 col-md-6 col-lg-3">
      <app-card [img]="producto.miniatura" [descripcion]="producto.descripcion" [precio]="producto.precio"
        [cantidadDisponible]="producto.cantidadDisponible"> </app-card>
    </div>
  </div>
</div>
