<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4">
    <div *ngFor="let producto of productos" class="card mt-3">
        <img [src]='producto.miniatura' class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{producto.descripcion}}</h5>
          <div class="d-flex">
            <b class="card-text">Precio: {{producto.precio}}</b>
            <b class="card-text">Disponibles: {{producto.cantidadDisponible}}</b>
          </div>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
  </div>
</div>
